.calendarMainWrap .calendarMain {
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 0 0.3rem rgba(104, 104, 104, 0.1);
}
.calendarMainWrap .calendarMain thead th {
  font-size: 0.27rem;
  color: #666666;
  font-weight: normal;
  height: 1.75rem;
  text-align: center;
}
.calendarMainWrap .calendarMain tbody tr {
  border-top: 1px solid #e8e8e8;
}
.calendarMainWrap .calendarMain tbody tr td {
  height: 4.13rem;
  width: 4.03rem;
  position: relative;
  z-index: 1;
  border-right: 1px solid #e8e8e8;
  cursor: pointer;
}
.calendarMainWrap .calendarMain tbody tr td .date {
  font-size: 0.33rem;
  color: #191919;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
}
.calendarMainWrap .calendarMain tbody tr td .courseWrap {
  position: absolute;
  top: 0.8rem;
  bottom: 0.27rem;
  overflow: auto;
  left: 50%;
  margin-left: -1.8rem;
  width: 3.6rem;
}
.calendarMainWrap .calendarMain tbody tr td .courseWrap ul li {
  width: 3.2rem;
  margin: 0 auto;
  background: #ECECEC;
  padding: 0.13rem 0 0.13rem 0.27rem;
  box-sizing: border-box;
  position: relative;
  border-top-right-radius: 0.13rem;
  border-bottom-right-radius: 0.13rem;
  margin-bottom: 0.15rem;
}
.calendarMainWrap .calendarMain tbody tr td .courseWrap ul li.blue {
  background: #E6F3FD;
}
.calendarMainWrap .calendarMain tbody tr td .courseWrap ul li.blue:before {
  background: #19A4FF;
}
.calendarMainWrap .calendarMain tbody tr td .courseWrap ul li.orange {
  background: #FFE2C4;
}
.calendarMainWrap .calendarMain tbody tr td .courseWrap ul li.orange:before {
  background: #FF8000;
}
.calendarMainWrap .calendarMain tbody tr td .courseWrap ul li h3 {
  font-size: 0.3rem;
  color: #191919;
  line-height: 0.42rem;
  font-weight: normal;
  margin-bottom: 0;
}
.calendarMainWrap .calendarMain tbody tr td .courseWrap ul li p {
  font-size: 0.23rem;
  color: #666666;
}
.calendarMainWrap .calendarMain tbody tr td .courseWrap ul li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.07rem;
  height: 100%;
  background: #B2B2B2;
  border-top-right-radius: 0.13rem;
  border-bottom-right-radius: 0.13rem;
}
.calendarMainWrap .calendarMain tbody tr .prevMonth span {
  display: none;
}
.calendarMainWrap .calendarMain tbody tr .nextMonth span {
  display: none;
}
